{% extends 'PeoplePage/base.html' %} {% block content %}
{% load static %}
    <script type="text/javascript">
     function showImage(id){
         console.log(id)
         let element = document.getElementById(id);
         console.log(element)

         element.classList.remove('hidden')
         console.log(id)
     }
      function RemoveImage(id){
         console.log(id)
         let element = document.getElementById(id);
         console.log(element)

         element.classList.add('hidden')
         console.log(id)
     }
    </script>
    <div >
  <div class='flex flex-col mx-5 md:text-[14px] text-[10px]  '>
            <div class="flex justify-center"> <a href="{% url 'post:create_view' %}"><img class="h-[100px] w-[100px]" src="{% static "Component 13 (2).svg" %}" alt="My image"/>
      </a></div>

    {% for post in posts %}
        <div>
    <div >
     {% if post.image %}
       <div class="hidden mycenter" id='{{ post.id }}' >
           <img class="max-h-[470px]" src="{{post.image.url}}" alt="image of problem post-image"/>
           <button class=" bg-blue-500 text-white px-1.5 font-bold py-0.5 rounded" onClick="RemoveImage('{{ post.id }}')">close</button>
       </div>
    {% endif %}

        <div class ='px-3 py-1 flex flex-col bg-white my-5 rounded-2xl'>
        <div class="flex text-[11px]  justify-between md:text-[12px]">
        <div class="text-blue-500 font-bold "> <span class="mr-2">{{ post.author.first_name }}</span><span>{{ post.author.last_name }} </span> </div>
        <div>{{ post.author.contact}}</div>
        </div>
        <div class = "my-1.5 text-[14px]">{{post.problem}}</div>
        <div class="flex justify-between">
        <div class="text-[11px] md:text-[12px] font-bold {% if post.category == 'Emergency' %} text-red-500 {% else %} text-green-600{% endif %}" >{{ post.category }}</div>
        {% if post.image %}
        <button class=" bg-blue-500 text-white px-1.5 font-bold py-0.5 rounded" onClick="showImage('{{ post.id }}')">image</button>
        {% endif %}
         <a href="{% url 'post:delete_post' post.id  %}" class=" bg-red-500 text-white px-1.5 font-bold py-0.5 rounded"> Delete</a>

        </div>
            </div>

    </div>
    </div>
        {% empty %}
        <p>There are no Announcements</p>
        {% endfor %}
    </div>
    </div>

{% endblock %}
