{% extends 'AssemblyPage/base.html' %}
{% block content %}
{% load static %}
    <div class="bg-gray-100 ">
  <div class='flex flex-col mx-5 md:text-[14px] text-[10px]  '>
  <div class='flex flex-col mx-5 md:text-[14px] text-[10px]  '>
      <div class="flex justify-center"> <a href="{% url 'post:create_Announcemt' %}"><img class="h-[100px] w-[100px]" src="{% static "Component 13 (2).svg" %}" alt="My image"/>
      </a></div>
    {% for assemble in assembly %}
            <a class="hover:bg-slate-300" href="{% url 'post:update' assemble.id %}">

        <div>
        <div class ='px-3 py-0.5 flex flex-col bg-white my-1'>
        {% if assemble.image %}{% endif %}
        <div class="text-blue-500 font-bold ">{{ assemble.title}}</div>
        <div class = "my-1.5">{{assemble.description}}</div>
        <div class = "my-1.5">{{assemble.created}}</div>
        <div>
           <a href="{% url 'post:delete' assemble.id%}" class="px-1.5 py-0.5 bg-red-500 text-white">Delete</a>
        </div>
         </div>

    </div>
            </a>
        {% empty %}
        <p>There are no Announcements</p>
        {% endfor %}
    </div>

    </div>

{% endblock %}